* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  display: flex;
  min-height: 100vh;
  padding: 1em;
}

ol {
  display: flex;
  flex-direction: column;
  padding-left: 1em;
}

li a {
  display: flex;
  padding: 1em;
}

li:hover {
  background-color: rebeccapurple;
}

li:hover a {
  color: #fff;
}

main {
  flex: 1;
}

iframe {
  width: 100%;
  min-height: 100%;
  border: none;
}
