:root {
  --primary-color: rgb(251, 117, 64);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  cursor: none;
}

.wrapper {
  background-color: #161b14;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

nav ul {
  list-style: none;
}

nav ul li {
  margin: 36px 0;
}

nav ul li a {
  text-decoration: none;
  font: 700 30px/45px roboto;
  color: #fcf3f5;
  text-transform: uppercase;
  letter-spacing: 5px;
  position: relative;
}

nav ul li a {
  cursor: none;
}

nav ul li a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 8px;
  bottom: -8px;
  background-color: var(--primary-color);
  left: 0;
  border-radius: 3px;
  transition: all 0.2s linear;
}

nav ul li a:hover::after {
  width: 100%;
}

.cursor {
  position: fixed;
  border-radius: 50%;
  border: 2px solid #fff;
  left: 0;
  top: 0;
  pointer-events: none;
}

.cursor--in {
  width: 6px;
  height: 6px;
  border-width: 3px;
}

.cursor--out {
  width: 40px;
  height: 40px;
  transform: translate(-50%, -50%);
  transition: all 0.2s ease-out;
}

.larger {
  width: 75px;
  height: 75px;
}
