@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #e2e0e0;
    font-family: 'Quicksand', sans-serif;
}

.question--card {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 1px 20px 5px rgba(0,0,0, .1);
    padding: 1rem;
    background: lightsteelblue;
}

.question--count {
    margin-top: .5rem;
    text-align: left;
    width: 100%;
    font-size: 1.5rem;
    font-weight: 500;
}

span.count {
    padding: .4rem 1rem;
    background: lightcyan;
    font-weight: 700;
}

h2.title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.question--header {
    font-weight: 500;
    font-size: 1.2rem;
    max-width: 50rem;
    width: 50rem;
    color: #fff;
    background-color: #5558be;
    padding: 1rem;
    margin-bottom: 1rem;
}

.question--body {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.btn {
    text-align: left;
    padding: .7rem 1rem;
    margin-bottom: 1rem;
    font-size: 1.1rem;
    border: none;
    transition: .2s all linear;
}

.btn:hover, .prev:hover, .next:hover {
    cursor: pointer;
    background-color: #dbd9d9;
}

.marked {
    background-color: red;
}