* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: none;
}
body {
    height: 100vh;
    display: grid;
    place-items: center;
    background: repeating-linear-gradient(0deg, #fff 0%, #fff 50%, #000 50%, #000 100%),
    repeating-linear-gradient(90deg, #fff 0%, #fff 50%, #000 50%, #000 100%);
    background-blend-mode: difference;
    background-size: 30px 30px;
    overflow: hidden;
}

.scratch {
    border: 2px dashed #213242;
    font: 400 20px/30px Lato;
    height: 4rem;
    border-radius: 3px;
    padding: 1rem;
    position: relative;
}

span {
    display: block;
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: #fff;
    pointer-events: none;
    border-radius: 50%;
    background-image: url("img/cat.jpg");
    background-size: cover;
    background-attachment: fixed;
}
